@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer base {
  :root {
    --body: 0 0% 95.69%;

    --background: 0 0% 100%;
    --background-secondary: 0 0% 100%;

    --foreground: 237.27 16.18% 26.67%;

    --card: 0 0% 100%;

    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;

    --popover-foreground: 224 71.4% 4.1%;

    --primary: 0 0% 100%;

    --primary-foreground: 0 0% 60%;

    --secondary: 237.27 16.18% 26.67%;

    --secondary-foreground: 229.29 11.29% 51.37%;

    --tertiary: 0 0% 21.18%;

    --tertiary-foreground: 0 0% 98.82%;

    --muted: 220 14.3% 95.9%;

    --muted-foreground: 0 0% 80.87%;

    --accent: 220 14.3% 95.9%;

    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 359.41 93.52% 42.35%;

    --destructive-foreground: 0 0% 100%;

    --input: 0 0% 85.88%;

    --ring: 199.65 97.41% 45.49%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    /* Border color */
    --border: 0 0% 90.98%;
    --border-primary: 0 0% 70.98%;
    --border-secondary: 0 0% 85.88%;
    --border-tertiary: 230.62 15.53% 59.61%;
    --border-quaternary: 0 0% 80.78%;

    /* Radius color */
    --radius-tn: 0.0625rem;
    --radius: 0.375rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.65rem;

    /* Font size */
    --font-tn: 0.7rem;
    --font-2xs: 0.75rem;
    --font-xs: 0.8rem;
    --font-sm: 0.85rem;
    --font-base: 0.9rem;
    --font-md: 0.95rem;
    --font-lg: 1.1rem;
    --font-xl: 1.2rem;
    --font-2xl: 1.4rem;
    --font-3xl: 2.5rem;
    --font-4xl: 3.2rem;

    /* Line height */
    --line-height-tn: 1.05rem;
    --line-height-2xs: 1.125rem;
    --line-height-xs: 1.2rem;
    --line-height-sm: 1.275rem;
    --line-height-base: 1.35rem;
    --line-height-md: 1.425rem;
    --line-height-lg: 1.2375rem;
    --line-height-xl: 1.68rem;
    --line-height-2xl: 1.8rem;
    --line-height-3xl: 3.25rem;
    --line-height-4xl: 4.16rem;

    /* Sphere main colors */
    --sphere-5: 212.86 73.68% 77.65%;
    --sphere-10: 212.86 74.12% 66.67%;
    --sphere-20: 199.65 97.41% 45.49%;
    --sphere-30: 213.1 74.36% 61.76%;
    --sphere-40: 213.29 74.55% 56.86%;
    --sphere-50: 213.85 48.95% 46.86%;
    --sphere-60: 213.07 74.58% 53.73%;
    --sphere-70: 212.92 74.23% 61.96%;

    /* Sphere green colors*/
    --sphere-green-10: 152.54 79.45% 50.39%;
    --sphere-green-20: 172.35 64.5% 54.71%;

    /* Sphere yellow color */
    --sphere-yellow-20: 47.94 85.31% 51.96%;

    /* Icon color */
    --icon: 229.71 13.83% 50.39%;
    --icon-primary: 229.29 11.29% 51.37%;
    --icon-secondary: 0 0% 80.78%;
    --icon-light: 0 0% 98.04%;

    /* Brand color */
    --brand: 213.85 48.95% 46.86%;

    /* Button color */
    --button: 0 0% 100%;
    --button-foreground: 0 0% 60%;
    --button-primary: 213.85 48.95% 46.86%;
    --button-primary-foreground: 0 0% 100%;

    /* Caption color */
    --caption: 0 0% 98.82%;

    /* Progress color */
    --progress: 0 0% 91.76%;
    --progress-foreground: 0 0% 100%;

    /* Circle color */
    --circle: 0 0% 100%;
    --circle-foreground: 0 0% 90.98%;
  }
  .dark {
    --body: 218.18 25.98% 24.9%;

    --background: 218.57 25% 10.98%;
    --background-secondary: 218.18 25.98% 24.9%;

    --foreground: 0 0% 98.04%;

    --card: 224 71.4% 4.1%;

    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;

    --popover-foreground: 210 20% 98%;

    --primary: 218.18 25.58% 16.86%;

    --primary-foreground: 232.17 14.11% 68.04%;

    --secondary: 0 0% 98.04%;

    --secondary-foreground: 232.17 14.11% 68.04%;

    --tertiary: 0 0% 98.04%;

    --tertiary-foreground: 232.17 14.11% 68.04%;

    --muted: 215 27.9% 16.9%;

    --muted-foreground: 218.4 24.04% 40.78%;

    --accent: 215 27.9% 16.9%;

    --accent-foreground: 210 20% 98%;

    --destructive: 359.41 93.52% 42.35%;

    --destructive-foreground: 0 0% 100%;

    --input: 220 25.23% 20.98%;

    --ring: 199.65 97.41% 45.49%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    /* Border color */
    --border: 218.57 25% 10.98%;
    --border-primary: 0 0% 70.98%;
    --border-secondary: 220 25.23% 20.98%;
    --border-tertiary: 230.62 15.53% 59.61%;
    --border-quaternary: 0 0% 80.78%;

    /* Icon color */
    --icon: 229.71 13.83% 50.39%;
    --icon-primary: 229.29 11.29% 51.37%;
    --icon-secondary: 232.17 14.11% 68.04%;
    --icon-light: 0 0% 98.04%;

    /* Brand color */
    --brand: 0 0% 100%;

    /* Button color */
    --button: 218.57 25% 10.98%;
    --button-foreground: 0 0% 100%;

    /* Progress color */
    --progress: 218 25.86% 22.75%;
    --progress-foreground: 217.67 25.75% 32.75%;

    /* Circle color */
    --circle: 217.5 25% 18.82%;
    --circle-foreground: 217.71 25.55% 26.86%;

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
