:root {
  // Color
  --color-primary: #f5f5f5;
  --color-primary-low: #e9e9e9;
  --color-primary-lower: #dee2e6;
  --color-primary-lowest: #999;

  --color-light: #ffffff;

  --color-secondary: #4b5366;
  --color-secondary-low: #333333;
  --color-secondary-lower: #212529;

  --color-tertiary: #1ea8ef;
  --color-tertiary-low: #566787;

  --color-success: #008000;
  --color-warning: #ffa500;
  --color-danger: #ff0000;
  --color-info: #1ca1c1;

  --color-background-modal: rgba(0, 0, 0, 0.2);

  // Font size
  --font-size-smallest: 13px;
  --font-size-small: 16px;
  --font-size-normal: 24px;

  // Box shadow
  --box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%), 0 1px 7px 0 rgb(0 0 0 / 10%);
}
